accelerate==1.10.0
pytorch_lightning==2.5.3
scikit_learn==1.7.1
torch==2.6.0+cu118
torchmetrics==1.8.1
torchvision==0.21.0+cu118
transformers==4.41.2
opencv-python
flask
flask-cors
flask_sqlalchemy
psycopg2-binary
dotenv